MONGO_URI=mongodb://example_user:example_password@cluster0.example.mongodb.net/?retryWrites=true&w=majority
DB_NAME=cmps4150_helpers
PORT=3000
SESSION_SECRET=change-me
SEED_OWNER_USERNAME=owner1
SEED_OWNER_PASSWORD=password123
